//.group {
//  display: flex;
//  gap: var(--spacing-s);
//}

.title {
  font-family: var(--font-italic), sans-serif;
  font-weight: normal;
  font-size: var(--font-size-m);
}

//.button {
//  gap: 0.25rem;
//  padding: 0.5rem 0.75rem;
//  background-color: var(--color-solid-1);
//  border: 0.075rem solid var(--color-solid-2);
//  border-radius: 0.5rem;
//  font-family: var(--font-bold), sans-serif;
//  font-size: var(--font-size-m);
//  color: var(--color-neutral-4);
//}
