.card {
  width: 24rem;
}

.button {
  padding: var(--spacing-s);
  background-color: var(--color-solid-1);
  text-transform: uppercase;
  font-family: var(--font-bold);
  font-size: var(--font-size-s);
  color: var(--color-neutral-2);

  & + & {
    margin-left: var(--spacing-s);
  }
}
