$width: 20rem;

.header {
  grid-column: 1;
  grid-row: span 2;
  display: flex;
  align-items: flex-start;
  margin-left: -$width;
  will-change: margin-left;
  transition-duration: 300ms;
  transition-property: margin-left;
  transition-timing-function: var(--ease-expo);

  &.open {
    margin-left: 0;
    transition-duration: 500ms;
  }
}

.inside {
  width: $width;
  height: 100%;
  background-color: var(--color-neutral-2);
}

.inner {
  position: sticky;
  top: 0;
  left: 0;
}

.button {
  padding: var(--spacing-s);
  background-color: var(--color-neutral-2);
  font-size: var(--font-size-m);
  color: var(--color-neutral-6);

  &:focus-visible {
    outline: 0.25rem solid var(--color-solid-3);
    outline-offset: -0.25rem;
  }
}
