.project {
  padding: var(--spacing-xs);
  background-color: var(--color-theme-2);
  line-height: 1.2;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-theme-1);

  &.locked {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
