.notifications {
  display: flex;
  flex-flow: row wrap;
  align-self: stretch;
  justify-content: flex-end;
  gap: 0.15rem;
  background-color: var(--color-2);
  opacity: 0;
  animation-name: Slide, Fade;
  animation-timing-function: var(--ease-quad);
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}

.empty {
  padding: var(--spacing-s);
  text-align: center;
  background-color: var(--color-1);
  border-bottom-left-radius: 0.15rem;
  color: var(--color-2);
}

@keyframes Slide {
  0% {
    transform: translateY(75rem);
  }
  20% {
    transform: translateY(7.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
