.button {
  position: relative;
  padding: 0.2rem;
  background-color: transparent;
  font-size: var(--font-size-m);
  color: var(--color-1);

  &.active,
  &:active {
    .inner {
      box-shadow: 0 0 0 0.4rem var(--color-solid-11);
      transition: box-shadow 100ms var(--ease-quad);
    }
  }
}

.inner {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-2);
  box-shadow:
    0 0.2rem var(--color-2),
    0 -0.2rem var(--color-2),
    0.2rem 0 var(--color-2),
    -0.2rem 0 var(--color-2);
}

.value {
  position: absolute;
  z-index: 2;
  padding: 0 var(--spacing-xs);
  animation: SlideUp 800ms var(--ease-out);
  font-size: var(--font-size-m);
  color: var(--color-solid-11);
  //animation: SlideUp 800ms var(--ease-out);
  //background-color: var(--color-solid-8);
  //font-size: var(--font-size-l);
  //color: var(--color-solid-10);
  box-shadow:
    0 0.2rem var(--color-solid-11),
    0 -0.2rem var(--color-solid-11),
    0.2rem 0 var(--color-solid-11),
    -0.2rem 0 var(--color-solid-11);
  ////will-change: transform, opacity;
}

@keyframes SlideUp {
  0% {
    transform: translate3d(0, -1rem, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(0, -5rem, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -10rem, 0);
    opacity: 0;
  }
}
