.loader {
  height: 8px;
  background: linear-gradient(var(--color-solid-1) 0 0) 0/0% no-repeat
    var(--color-neutral-4);
  animation: Progress var(--loader-duration) infinite linear;
}

.s {
  width: 60px;
}

.m {
  width: 80px;
}

.l {
  width: 120px;
}

@keyframes Progress {
  100% {
    background-size: 100%;
  }
}
