.dashboard {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--spacing-l);
  animation: Appear 250ms var(--ease-quad);
  will-change: opacity;
}

@keyframes Appear {
  0% {
    opacity: 0;
  }
}
