.stage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 var(--spacing-xs);
  //padding: var(--spacing-s);
  //background-color: var(--color-1);
  background-color: var(--color-neutral-3);
  border: 0.25rem solid var(--color-neutral-3);
  //border: 0.25rem solid var(--color-1);
  //border-radius: 0.5rem;
  //border-top-left-radius: 0.25rem;
  //border-bottom-left-radius: 0.25rem;
}

.label {
  position: relative;
  z-index: 2;
  font-size: var(--font-size-m);
  color: var(--color-neutral-0);
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 100%;
  background-color: var(--color-solid-2);
  border-radius: 0.125rem;
}
