* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  overflow-x: hidden;
  background-color: var(--color-3);
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: style;
  font-family: var(--font-text), sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-theme-2);
}

#_paperclips_3mma_0 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  ._dusk_3mma_0 & {
    background-color: var(--color-theme-1);
  }

  ._tumult_3mma_0 &,
  ._cataclysm_3mma_0 & {
    background-size: 200%;
    background-position: 0 50%;
    animation: Slide 100000ms alternate infinite;
  }
  ._tumult_3mma_0 & {
    background-image: linear-gradient(60deg, var(--color-13), var(--color-12), var(--color-8));
  }

  ._cataclysm_3mma_0 & {
    background-image: linear-gradient(60deg, var(--color-16), var(--color-15), var(--color-11));
  }
}

@keyframes Slide {
  50% {
    background-position: 100% 50%;
  }
}
