$widescreen: 1920px;
$desktop: 1440px;
$tablet-landscape: 1280px;
$tablet-portrait: 1024px;
$mobile-landscape: 768px;
$mobile-portrait: 375px;

@mixin widescreen {
  @media (max-width: $widescreen) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (max-width: $tablet-landscape) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (max-width: $tablet-portrait) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-width: $mobile-landscape) {
    @content;
  }
}

@mixin mobile-portrait {
  @media (max-width: $mobile-portrait) {
    @content;
  }
}
