@font-face {
  font-family: 'Medium';
  src:
    url('../../fonts/Medium.woff2') format('woff2'),
    url('../../fonts/Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Italic';
  src:
    url('../../fonts/Italic.woff2') format('woff2'),
    url('../../fonts/Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bold';
  src:
    url('../../fonts/Bold.woff2') format('woff2'),
    url('../../fonts/Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icon';
  src:
    url('../../fonts/Icons.woff2') format('woff2'),
    url('../../fonts/Icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
