@font-face {
  font-family: 'Text';
  src:
    url('../../fonts/Text.woff2') format('woff2'),
    url('../../fonts/Text.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Title';
  src:
    url('../../fonts/Title.woff2') format('woff2'),
    url('../../fonts/Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icon';
  src:
    url('../../fonts/Icons.woff2') format('woff2'),
    url('../../fonts/Icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Number';
  src:
    url('../../fonts/Number.woff2') format('woff2'),
    url('../../fonts/Number.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
