* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

:root {
  background-color: var(--color-neutral-1);
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-family: var(--font-regular);
  font-weight: normal;
  font-size: 16px;
  color: var(--color-neutral-5);
}

#_paperclips_3mma_0 {
  display: grid;
  grid-template-columns: 14rem 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}
