* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  overflow-x: hidden;
  //background-color: var(--color-neutral-1);
  background-color: var(--color-neutral-2);
  line-height: 1.1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: style;
  font-family: var(--font-text), sans-serif;
  font-weight: normal;
  font-size: 16px;
  //color: var(--color-solid-4);
  color: var(--color-2);
}

#_paperclips_3mma_0 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //background-color: var(--color-solid-4);
  background-color: var(--color-1);
  //background-color: #1a1122;
}
