@mixin font {
  --font-text: 'Text';
  --font-icon: 'Icon';
}

@mixin color {
  --color-neutral-0: #111;
  --color-neutral-1: #252529;
  --color-neutral-2: #ffc8da;
  --color-neutral-3: #ececec;
  --color-solid-1: #29ff3c;
  --color-solid-2: #00d0ff;
  --color-solid-3: #1692ff;
  --color-solid-4: #4c00ff;
  --color-solid-5: #ff3cb8;
  --color-solid-6: #ffeb3b;
  --color-solid-7: #ff8800;
  --color-solid-8: #ff0000;
}

@mixin size {
  --font-size-xl: 6rem; // 96px
  --font-size-l: 2.5rem; // 40px
  --font-size-m: 1.5rem; // 24px
  --font-size-s: 1.25rem; // 20px
  --font-size-xs: 1rem; // 16px
}

@mixin spacing {
  --spacing-xl: 6rem; // 96px
  --spacing-l: 3rem; // 48px
  --spacing-m: 2rem; // 32px
  --spacing-s: 1rem; // 16px
  --spacing-xs: 0.5rem; // 4px
}

@mixin easing {
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-expo: cubic-bezier(0.25, 0.8, 0.25, 1);
}

:root {
  @include font();
  @include color();
  @include size();
  @include spacing();
  @include easing();
}
