@mixin font {
  --font-text: 'Text';
  --font-icon: 'Icon';
}

@mixin color {
  --color-1: #030009;
  --color-2: #00000038;
  --color-3: #252529;
  --color-4: #ffc8da;
  --color-5: #c8c0cb;
  --color-6: #fff;
  --color-7: #00ff15;
  --color-8: #00f7ff;
  --color-9: #009dff;
  --color-10: #4c00ff;
  --color-11: #ff00cc;
  --color-12: #ffdd00;
  --color-13: #ffb700;
  --color-14: #ff5722;
  --color-15: #220081;
  --color-16: #1a006a;
}

@mixin size {
  --font-size-xl: 8rem;
  --font-size-l: 4rem;
  --font-size-m: 3rem;
  --font-size-s: 2rem;
  --font-size-xs: 1rem;
}

@mixin spacing {
  --spacing-xl: 6rem;
  --spacing-l: 3rem;
  --spacing-m: 2rem;
  --spacing-s: 1rem;
  --spacing-xs: 0.5rem;
}

@mixin easing {
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-expo: cubic-bezier(0.25, 0.8, 0.25, 1);
}

:root {
  @include font();
  @include color();
  @include size();
  @include spacing();
  @include easing();
}
