@mixin font {
  --font-text: 'Text';
  --font-icon: 'Icon';
}

@mixin color {
  --color-1: #030009;
  --color-2: #00000034;
  --color-3: #252529;
  --color-4: #494957;
  --color-5: #ffc8da;
  --color-6: #fff;
  --color-7: #00ff15;
  --color-8: #009dff;
  --color-9: #5400ff;
  --color-10: #ff00ae;
  --color-11: #ffdd00;
  --color-12: #220081;
  --color-13: #1a006a;
  --color-14: #ff002f;
  --color-15: #ffae00;
  --color-16: #ff4d00;
}

@mixin size {
  --font-size-xl: 5rem;
  --font-size-l: 2.25rem;
  --font-size-m: 2rem;
  --font-size-s: 1.25rem;
  --font-size-xs: 1rem;
}

@mixin spacing {
  --spacing-xl: 6rem;
  --spacing-l: 3rem;
  --spacing-m: 2rem;
  --spacing-s: 1rem;
  --spacing-xs: 0.5rem;
}

@mixin easing {
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-expo: cubic-bezier(0.25, 0.8, 0.25, 1);
}

:root {
  @include font();
  @include color();
  @include size();
  @include spacing();
  @include easing();
}
