.crypto {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  font-size: var(--font-size-xs);
}

.name {
  text-transform: uppercase;
}

.number {
  //font-size: var(--font-size-xs);
}

.variation {
  display: flex;
  align-items: center;
}

.positive {
  color: var(--color-solid-7);
}

.negative {
  color: var(--color-solid-16);
}
