.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-m);
  padding: var(--spacing-m);
  background-color: var(--color-neutral-3);

  h2 {
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    font-family: var(--font-bold);
    font-weight: normal;
    font-size: var(--font-size-l);
    -webkit-text-stroke: 0.06rem var(--color-neutral-5);
    color: transparent;
  }

  strong {
    font-family: var(--font-bold);
  }

  p {
    line-height: 1.2;
    font-size: var(--font-size-m);
  }

  // button {
  //   padding: 10px;
  //   background-color: #fff500;
  //   border: none;
  //   line-height: 1;
  //   text-transform: uppercase;
  //   font-weight: normal;
  //   font-family: var(--font-regular);
  //   font-size: 16px;
  //   color: #171717;
  //   cursor: pointer;
  // }
}
