.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-s);
  padding: var(--spacing-m);
  background-color: var(--color-neutral-2);

  h2 {
    margin-bottom: var(--spacing-s);
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    font-family: var(--font-bold);
    font-weight: normal;
    font-size: var(--font-size-l);
    -webkit-text-stroke: 0.06rem var(--color-neutral-5);
    color: transparent;
  }

  p {
    line-height: 1.2;
    font-size: var(--font-size-m);
  }
}
