:root {
  font-family: var(--text-font);
  line-height: 1;
  color: #000;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#_paperclips_1mm2_3 {
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
}
