.dial {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: var(--spacing-s);
  background-color: var(--color-neutral-2);
  font-family: var(--font-bold), sans-serif;
  font-size: var(--font-size-m);

  span {
    font-family: var(--font-medium), sans-serif;
    font-size: var(--font-size-s);
    color: var(--color-neutral-3);
  }
}

.outStock {
  background-color: var(--color-solid-3);

  span {
    color: var(--color-neutral-6);
  }
}
