.notification {
  overflow: hidden;
  display: flex;
  max-width: 20rem;
  height: 3rem;
  background-color: var(--color-neutral-3);
  color: var(--color-primary);
}

.text {
  flex: 1;
  align-self: center;
  padding: 0 var(--spacing-xs);
  line-height: 1.1;
  font-size: var(--font-size-s);
}

.link {
  color: inherit;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  background-color: var(--color-neutral-3);
  font-size: var(--font-size-s);
  color: var(--color-primary);

  .animate & {
    animation: Appear 800ms var(--ease-quad);
    will-change: background-color;
  }

  &:focus-visible {
    outline-offset: calc(-1 * var(--outline));
  }
}

.animate {
  animation: Appear 800ms var(--ease-quad);
  will-change: background-color;
}

@keyframes Appear {
  0% {
    background-color: var(--color-solid-2);
  }
}
