.notification {
  overflow: hidden;
  display: flex;
  max-width: 22.5rem;
  background-color: var(--color-solid-3);
  font-size: var(--font-size-s);
  color: var(--color-neutral-2);
}

.link {
  flex: 1;
  align-self: center;
  padding: var(--spacing-xs);
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-family: var(--font-text-bold), sans-serif;
  line-height: 1.25;
  font-size: inherit;
  color: inherit;

  &:focus-visible {
    outline-offset: calc(-1 * var(--outline));
  }

  &:hover {
    background-color: var(--color-solid-7);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs);
  background-color: var(--color-solid-7);
  font-size: inherit;
  color: inherit;

  .animate & {
    animation: Appear 800ms var(--ease-expo);
    //will-change: background-color;
  }

  &:focus-visible {
    outline-offset: calc(-1 * var(--outline));
  }
}

.animate {
  animation: Appear 800ms var(--ease-expo);
  //will-change: background-color;
}

@keyframes Appear {
  0% {
    background-color: var(--color-solid-2);
  }
}
