@mixin if-dark {
  ._dark_3mma_0 {
    @content;
  }
}

@mixin dark {
  --color-1: var(--color-solid-4);
  --color-2: var(--color-neutral-0);
}

:root {
  @include if-dark {
    @include dark();
  }
}
