@mixin if-light {
  @content;
}

@mixin light {
  --color-primary: #ff9800;
  --color-1: var(--color-neutral-2);
  --color-2: #fffbec;
  --color-3: #ffe0b1;
}

:root {
  @include if-light {
    @include light();
  }
}
