.paperclip {
  //flex: 0 0 100%;
  display: flex;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-s);
  text-transform: uppercase;
  //text-shadow: 0 0.2rem var(--color-2);
  font-size: var(--font-size-l);

  @include desktop {
    padding: 0 var(--spacing-m);
  }
}
