.clips {
  //flex: 0 0 100%;
  display: flex;
  padding: var(--spacing-m) var(--spacing-m) var(--spacing-m) 0;
  font-family: var(--font-medium), sans-serif;
  font-weight: normal;
  font-size: var(--font-size-l);
}
