.paperclip {
  //flex: 0 0 100%;
  display: flex;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-s);
  text-transform: uppercase;
  font-size: var(--font-size-l);
  //text-shadow: 0 0.2rem var(--color-2);
  //-webkit-text-stroke: 0.05em var(--color-2);

  :global(._clubbed-to-death_3mma_0) & {
    text-shadow:
      //0 0.2rem var(--color-theme-3),
      //0 -0.2rem var(--color-theme-3),
      //0.2rem 0 var(--color-theme-3),
      //-0.2rem 0 var(--color-theme-3),
      0 0.3rem var(--color-theme-4),
      0.1rem 0.1rem var(--color-theme-4),
      -0.1rem 0.1rem var(--color-theme-4);
  }

  @include desktop {
    padding: 0 var(--spacing-m);
  }
}
