.paperclip {
  //flex: 0 0 100%;
  display: flex;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-s);
  text-transform: uppercase;
  font-size: var(--font-size-l);
  color: var(--color-1);
  //text-shadow: 0 0.2rem var(--color-2);
  //-webkit-text-stroke: 0.05em var(--color-2);

  @include desktop {
    padding: 0 var(--spacing-m);
  }
}
