.bonus {
  display: flex;
  align-items: center;
  padding: var(--spacing-xs);
  background-color: var(--color-solid-2);
  border-radius: 0.3rem;
  text-transform: initial;
  font-family: var(--font-text-regular), sans-serif;
  font-size: var(--font-size-s);
  color: var(--color-neutral-1);
}
