.footer {
  position: relative;
  display: flex;
  padding: var(--spacing-s);
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-xs);

  @include tablet-landscape {
    padding: var(--font-size-xs) var(--spacing-m);
  }
}
