.footer {
  grid-column: span 2;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-neutral-2);
}

.button {
  padding: 0.5rem;
  background: none;
  font-family: var(--font-text), sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size-s);
  color: var(--color-neutral-5);

  &:focus-visible {
    outline: 0.25rem solid var(--color-solid-4);
    outline-offset: -0.25rem;
  }
}
