.crypto {
  display: flex;
  gap: var(--spacing-s);
  background-color: var(--color-2);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: var(--font-text-bold), sans-serif;
  font-size: var(--font-size-m);
}

.name {
  min-width: 7rem;
  padding: var(--spacing-xs);
}

.number {
  min-width: 9rem;
  padding: var(--spacing-xs);
  -webkit-text-stroke: 0.075rem var(--color-1);
  color: transparent;
}

.variation {
  display: flex;
  align-items: center;
  min-width: 8rem;
  margin-right: var(--spacing-xs);
  padding: var(--spacing-xs);
}

.positive {
  color: var(--color-solid-4);
}

.negative {
  color: var(--color-solid-5);
}
