.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-text), cursive;
  font-weight: normal;
  cursor: pointer;

  &.active,
  &:active {
    box-shadow: 0 0 0 0.4rem var(--color-10);
    transition: box-shadow 100ms var(--ease-quad);
  }

  &:focus-visible {
    outline: 0.25rem solid var(--color-10);
    outline-offset: -0.25rem;
  }

  &:disabled {
    background-color: var(--color-3);
    pointer-events: none;
    cursor: default;
  }
}
