.page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  position: relative;
  animation: Appear 250ms var(--ease-quad);
  will-change: opacity;
}

@keyframes Appear {
  0% {
    opacity: 0;
  }
}
