.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.manufacturing {
  grid-column: 1;
  grid-row: 1;

  //@include tablet-portrait {
  //  grid-column: 1;
  //  grid-row: 1;
  //}
}

.business {
  grid-column: 2;
  grid-row: 1;
}

.resources {
  grid-column: 1;
  grid-row: 2;

  @include tablet-landscape {
    grid-column: 1;
    grid-row: 2;
  }

  @include desktop {
    grid-column: 3;
    grid-row: 1;
  }
}

.projects {
  grid-column: 2;
  grid-row: 2 / span 5;

  @include tablet-landscape {
    grid-column: 3;
    grid-row: 1 / span 3;
  }

  @include desktop {
    grid-column: 4;
    grid-row: 1 / span 3;
  }
}

.investments {
  grid-column: 1;
  grid-row: 3;

  @include tablet-landscape {
    grid-column: 2;
    grid-row: 2;
  }

  @include desktop {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}

.production {
  grid-column: 1;
  grid-row: 4;

  @include tablet-landscape {
    grid-column: 1;
    grid-row: 3;
  }

  @include desktop {
    grid-column: 3;
    grid-row: 2;
  }
}

.power {
  grid-column: 1;
  grid-row: 5;

  @include tablet-landscape {
    grid-column: 2;
    grid-row: 3;
  }

  @include desktop {
    grid-column: 1;
    grid-row: 3;
  }
}

.title {
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  font-size: var(--font-size-s);
  box-shadow: 0 0.2rem var(--color-theme-2);

  :global(._clubbed-to-death_3mma_0) & {
    box-shadow:
      0 0.2rem var(--color-theme-2),
      0 0.3rem var(--color-theme-3),
      0 0.4rem var(--color-theme-4);
    text-shadow:
      0 0.125rem var(--color-theme-3),
      0 -0.125rem var(--color-theme-3),
      0.125rem 0 var(--color-theme-3),
      -0.125rem 0 var(--color-theme-3),
      0 0.2rem var(--color-theme-4),
      0.1rem 0.1rem var(--color-theme-4),
      -0.1rem 0.1rem var(--color-theme-4);
  }
}

.subtitle {
  text-transform: uppercase;
  font-size: var(--font-size-s);
}

.buttons {
  display: flex;
  gap: var(--spacing-xs);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-xs);
  //width: 2rem;
  //height: 2rem;
  //margin-left: var(--spacing-xs);
  background-color: var(--color-theme-2);
  font-size: var(--font-size-m);
  color: var(--color-theme-6);

  &.label {
    padding: var(--spacing-xs);
    text-transform: uppercase;
    font-size: var(--font-size-xs);
  }

  &:focus-visible {
    outline-offset: -0.05rem;
  }
}

.progressbar {
  margin-left: var(--spacing-xs);

  & + .button {
    margin-top: var(--spacing-xs);
  }
}
