.crypto {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  font-size: var(--font-size-xs);
}

.name {
  text-transform: uppercase;
  font-size: inherit;
}

.number {
  font-size: inherit;
}

.variation {
  display: flex;
  align-items: center;
  font-size: inherit;
}

.positive {
  color: var(--color-7);
}

.negative {
  color: var(--color-17);
}
