.clips {
  display: flex;
  align-self: stretch;
  padding: var(--spacing-m);
  background-color: var(--color-neutral-2);
  letter-spacing: 0.1rem;
  font-family: var(--font-text-bold), sans-serif;
  font-size: var(--font-size-l);
  -webkit-text-stroke: 0.075rem var(--color-neutral-6);
  color: transparent;

  &.active {
    gap: var(--spacing-s);
    padding: var(--spacing-xs) var(--spacing-s);
    font-size: var(--font-size-m);
    backface-visibility: hidden;
    animation: Appear 400ms var(--ease-expo);
    pointer-events: initial;
  }
}

@keyframes Appear {
  0% {
    transform: translateY(-2rem);
  }
}
