.clips {
  display: flex;
  align-self: stretch;
  padding: var(--spacing-m);
  background-color: var(--color-neutral-2);
  letter-spacing: 0.1rem;
  font-family: var(--font-text-bold), sans-serif;
  font-size: var(--font-size-l);
  -webkit-text-stroke: 0.075rem var(--color-neutral-6);
  color: transparent;
}
