.dashboard {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-m);
  padding: var(--spacing-m);
}

.clips {
  flex: 1 1 100%;
  line-height: 1.2;
  letter-spacing: 0.075rem;
  font-family: var(--font-bold);
  font-weight: normal;
  font-size: var(--font-size-2xl);

  span {
    text-transform: uppercase;
    -webkit-text-stroke: 0.06rem var(--color-neutral-5);
    color: transparent;
  }
}
