.token {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-xs);
}

.name {
  //flex: 0 0 100%;
  text-transform: uppercase;
  font-size: var(--font-size-s);
}

.price {
  font-size: var(--font-size-m);
}

.variation {
  display: flex;
  align-items: center;
  font-size: var(--font-size-m);
}

.positive {
  color: var(--color-7);
}

.negative {
  color: var(--color-14);
}

.volume {
  font-size: var(--font-size-m);
}
