.button {
  position: relative;
}

.value {
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  padding: var(--spacing-xs);
  animation: SlideUp 900ms var(--ease-out);
  text-transform: uppercase;
  font-size: var(--font-size-m);
  color: var(--color-10);
}

@keyframes SlideUp {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -5rem, 0);
  }
  100% {
    transform: translate3d(0, -10rem, 0);
  }
}
