.menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  position: relative;
  height: 7rem;
  margin-top: -7rem;
  padding: var(--spacing-s);
  transition-property: margin-top;
  transition-duration: 200ms;
  transition-timing-function: var(--ease-expo);
  background-color: var(--color-theme-3);
  will-change: margin-top;

  @include tablet-portrait {
    height: 8rem;
    margin-top: -8rem;
  }

  &.open {
    margin-top: 0;
    transition-duration: 400ms;
  }
}

.button {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: var(--spacing-xs);
  background-color: var(--color-theme-3);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  color: var(--color-theme-5);

  &:active {
    box-shadow:
      inset 0 0.4rem var(--color-10),
      inset 0 -0.4rem var(--color-10),
      inset 0.4rem 0 var(--color-10),
      inset -0.4rem 0 var(--color-10);
  }
}
