.menu {
  position: relative;
  height: 6rem;
  margin-top: -6rem;
  transition-property: margin-top;
  transition-duration: 200ms;
  transition-timing-function: var(--ease-expo);
  background-color: var(--color-1);
  will-change: margin-top;

  &.open {
    margin-top: 0;
    transition-duration: 400ms;
  }
}

.button {
  position: absolute;
  top: 100%;
  left: 0;
  padding: var(--spacing-xs);
  background-color: var(--color-1);
  border-bottom-right-radius: 0.15rem;
  font-size: var(--font-size-xs);
  color: var(--color-2);

  //&:focus-visible {
  //  outline-offset: -0.25rem;
  //}
}
