.aside {
  grid-column: 2;
  grid-row: span 2;
  margin-right: -10rem;
  transition-duration: 200ms;
  transition-property: margin-right;
  transition-timing-function: var(--ease-expo);
  animation: _Appear_15ffx_1 250ms var(--ease-quad);
  will-change: opacity, margin-right;

  @include tablet-portrait {
    margin-right: -20rem;
  }

  &.open {
    margin-right: 0;
    transition-duration: 400ms;
  }
}

.inside {
  width: 10rem;
  height: 100%;
  background-color: var(--color-neutral-3);

  @include tablet-portrait {
    width: 20rem;
  }
}

.inner {
  position: sticky;
  top: 0;
  left: 0;
}

.button {
  position: absolute;
  top: 0;
  right: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  padding: var(--spacing-s) 0.15rem;
  background-color: var(--color-neutral-3);
  font-size: 1.5rem;
  color: var(--color-neutral-5);

  &:focus-visible {
    outline: 0.25rem solid var(--color-solid-4);
    outline-offset: -0.25rem;
  }
}

@keyframes Appear {
  0% {
    opacity: 0;
  }
}
