.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-s);
  width: 100%;
  padding: var(--spacing-s);
  background-color: var(--color-neutral-2);
  border-radius: 0.35rem;

  @include tablet-portrait {
    width: calc((100vw - 5rem) / 2);
  }

  @include desktop {
    width: calc((100vw - 6rem) / 3);
  }

  @include widescreen {
    width: calc((100vw - 8rem) / 4);
  }
}

.title {
  align-self: end;
  text-transform: uppercase;
  font-size: var(--font-size-m);
  color: var(--color-neutral-4);
  opacity: 0.5;
}

.button {
  padding: 1.25rem;
  background-color: var(--color-primary);
  border-radius: 2.75rem;
  font-family: var(--font-text), sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size-s);
  color: var(--color-neutral-1);

  &:focus-visible {
    outline: 0.25rem solid var(--color-solid-4);
  }

  &:hover {
    background-color: var(--color-primary-dark);
  }
}
