.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-s);
  padding: var(--spacing-s);
  background-color: var(--color-neutral-2);
  //animation: Appear 250ms var(--ease-quad);
  //will-change: opacity;

  @include desktop {
    width: calc((100vw - 5rem) / 2);
  }

  @include tablet-portrait {
    width: calc((100vw - 3.5rem));
  }
}

.cardA {
  grid-column: 1;
  grid-row: span 2;
}

.cardB {
  grid-column: 2;
  grid-row: span 2;
}

.cardC {
  grid-column: 3;
  grid-row: 1;
}

.cardD {
  grid-column: 3;
  grid-row: 2;
}

.title {
  align-self: end;
  text-transform: uppercase;
  font-family: var(--font-italic), sans-serif;
  font-size: var(--font-size-m);
}

.button {
  padding: var(--spacing-m);
  background-color: #0053ff;
  border-radius: 2.75rem;
  font-family: var(--font-button), sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size-s);
  color: var(--color-neutral-1);

  &:hover {
    background-color: #0044dd;
  }
}

.number {
  font-family: var(--font-bold), sans-serif;
  font-size: var(--font-size-m);
}

//@keyframes Appear {
//  0% {
//    opacity: 0;
//  }
//}
