.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs);
}

.title {
  text-transform: uppercase;
  font-size: var(--font-size-m);
  color: var(--color-primary);
}

.button {
  padding: var(--spacing-s);
  background-color: var(--color-primary);
  border-radius: 5rem;
  font-family: var(--font-text), sans-serif;
  font-size: var(--font-size-s);
  color: var(--color-neutral-2);

  &:focus-visible {
    outline-offset: calc(-1 * var(--outline-s));
  }

  &:hover {
    background-color: var(--color-2);
    color: var(--color-primary);
  }
}
