.info {
  padding: 0.5rem;
  border-width: 0.25rem;
  border-style: solid dashed;
  border-color: var(--color-solid-5);
  text-align: center;
  text-transform: uppercase;
  //-webkit-text-stroke: 0.02em #4c00ff;
  font-size: var(--font-size-m);
  color: var(--color-solid-3);
  //animation:
  //  SlideUp 900ms var(--ease-quad),
  //  FadeIn 900ms var(--ease-quad);
}
